:root {
	--primary: #06a954;
	--omidDarkGreen: #037c3e;
	--secondary: #e6f2ec;
	--accent: #ffc747;
	--red: #e73820;
	--black: #212429;
	--gray4: #495057;
	--gray3: #acb5bd;
	--gray2: #dde2e5;
	--gray1: #f8f9fa;
}

.green-bg {
	background-color: var(--primary);
	color: #fff;
}
.secondary-bg {
	background-color: var(--secondary);
}
.accent-bg {
	background-color: var(--accent);
}
.accent-bg:hover {
	background-color: #e0b03f;
}

* {
	margin: 0;
	padding: 0;
}

/* UTILITY */

#terms ul li {
	margin-left: 32px;
}
html {
	font-size: 100%;
} /*16px*/

body {
	background: #ffffff;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	line-height: 1.75;
	color: #000000;
}

p {
	margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	line-height: 1.3;
}

h1 {
	margin-top: 0;
	font-size: 4.209rem;
}

h2 {
	font-size: 3.157rem;
}

h3 {
	font-size: 2.369rem;
}

h4 {
	font-size: 1.777rem;
}

h5 {
	font-size: 1.333rem;
}

h6 {
	font-size: 1.25rem;
}

small,
.text_small {
	font-size: 0.75rem;
}

.marginTop {
	margin-top: 80px;
}

.flexRow {
	display: flex;
	flex-wrap: wrap;
}

.flexCol {
	flex: 25%;
	max-width: 25%;
	padding: 0 10px;
}

.dropdown-menu {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	border: 0;
	border-radius: 0 !important;
}

/* NAVBAR */
nav img {
	height: 80px;
}

.searchBar {
	width: 500px;
}

.login {
	margin: 0 10px;
	color: var(--primary) !important;
}
.login:hover {
	color: #fff !important;
}

.signup {
	color: #fff !important;
}

.cartMobile {
	display: none;
	visibility: hidden;
}

.cartDesktop {
	display: block;
	visibility: visible;
}

.userMobile {
	display: none;
	visibility: hidden;
}

.userDesktop {
	display: block;
	visibility: visible;
}
/* END OF NAVBAR */

/* CATEGORY NAV */
.category-nav {
	-webkit-box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
}

.slider {
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.slides {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	justify-content: space-between;

	/* scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory; */
}

.slides::-webkit-scrollbar {
	width: 5px;
	height: 3px;
}

.slides::-webkit-scrollbar-thumb {
	background: var(--primary);
	border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
	background: transparent;
}

.slides > div {
	scroll-snap-align: start;
	flex-shrink: 0;
	width: auto;
	background: transparent;
	transform-origin: center center;
	transform: scale(1);
	transition: transform 0.5s;
	position: relative;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* .slides div:hover {
    background-color: rgb(65, 65, 65);
} */

.slides a {
	padding: 10px 15px;
	color: #fff;
}
.slides a:hover {
	color: var(--primary);
	background-color: #fff;
}
/* END OF CATEGORY NAV */

/* PAGINATION */
.pagination .page-link {
	border: 0 !important;
	color: #000;
}
.pagination > .active > a {
	color: #000 !important;
	background-color: var(--accent) !important;
}
.pagination > .active > a:hover {
	background-color: var(--accent) !important;
}
/* END OF PAGINATION */

.proDesc ul > li {
	margin-left: 20px;
}
.proDesc ol > li {
	margin-left: 20px;
}

/* END OF UTILITY */

/* HOME PAGE CSS */
/* CAROUSEL BANNER */
.crsFirst {
	background-repeat: no-repeat;
	background-image: url(../img/hero-banner.jpg);
	background-size: cover;
	/* background-size: 100%; */
	background-position: center center;
	padding: 15% 0;
}
.crsSecond {
	background-repeat: no-repeat;
	background-image: url(../img/carousel/crs_2.jpg);
	background-size: cover;
	background-size: 100% 100%;
	background-position: center center;
	padding: 15% 0;
}
.crsThird {
	background-repeat: no-repeat;
	background-image: url(../img/carousel/crs_3.jpg);
	background-size: cover;
	background-size: 100% 100%;
	background-position: center center;
	padding: 15% 0;
}
/* END OFCAROUSEL BANNER */

/* FLICKITY */
#teaserProduct a {
	color: var(--primary);
}
#teaserProduct .card {
	cursor: pointer;
}
#teaserProduct .card:hover {
	border: none;
	transform: scale(1.01, 1.01) !important;
	transition: 0.3s;
	box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
}
#teaserProduct .card-img-top {
	background-color: var(--omidlightgreen);
}
#teaserProduct .card .badge {
	position: absolute;
	top: 16px;
	right: 8px;
	width: auto;
	padding: 4px 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.flickity-prev-next-button {
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.flickity-viewport {
	transition: height 0.2s;
}

.gallery-cell {
	padding-top: 32px;
	padding-bottom: 32px !important;
	width: 25%;
	margin-right: 20px;
}
/* END OF FLICKITY */

/* WHY CHOOSE OUR PRODUCT & TESTIMONI */
.benefit-img {
	width: 120px;
	height: 120px;
}

#testimonials {
	background-repeat: no-repeat;
	background-image: url(../img/bg-doodle-image.png);
	background-size: cover;
}

#testimonials .card {
	border: none;
}
#testimonials .card-body {
	padding: 24px;
}
/* END OF WHY CHOOSE OUR PRODUCT & TESTIMONI */

/* RENCENT BLOG */
.blog {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 250px;
}
/* END OF RENCENT BLOG */

/* CTA SIGNUP */
#ctaSignup {
	background-repeat: no-repeat;
	background-image: url(../img/bg-doodle-image.png);
	background-size: cover;
	padding: 8% 0;
}
/* END OF CTA SIGNUP */
/* END OF HOME PAGE CSS */

/* ABOUT US PAGE */
#jumboAbout {
	background-image: url(../img/maddi-bazzocco-unsplash-bw.jpg) !important;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#aboutOmidRow {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.aboutOmidCol {
	flex: 50%;
	max-width: 50%;
	padding: 0 30px;
	margin-bottom: 30px;
}

.prodCatFlexRow {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.prodCatFlexCol {
	flex: 20%;
	max-width: 20%;
}
/* END OF ABOUT US PAGE */

/* BLOG PAGE */
.flexRow-blog {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.flexCol-blog {
	flex: 25%;
	max-width: 25%;
	padding: 0 16px;
}

.card .card-body p {
	/* margin-top: 24px; */
	font-size: 14px;
	color: rgb(116, 116, 116);
}

#blog-detail img {
	width: 100%;
	height: auto;
	margin: 24px 0;
}
#blog-detail ul li,
ol li {
	margin-left: 16px !important;
}
#blog-detail .container-xl a {
	margin-top: 24px;
	padding: 8px 12px;
	color: #fff;
	background-color: var(--primary);
}
/* END OF BLOG PAGE */

/* DETAIL PRODUCT PAGE CSS */
.detailProductCon {
	padding: 5% 0;
}

.detailProduct {
	margin-left: 30px;
}
/* END OF DETAIL PRODUCT PAGE CSS */

/* CART PAGE */
.cart-card-title {
	margin-top: 0;
}

.cart-subtotal {
	float: right;
}
/* END OF CART PAGE */

/* CONTACT US */
#jumboContact {
	background-image: url(../img/maddi-bazzocco-unsplash-bw.jpg) !important;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#contact {
	margin-top: -100px;
	margin-bottom: 72px;
}

#contact textarea {
	min-height: 120px;
	width: 100%;
	resize: vertical;
}
/* END OFCONTACT US */

/* FOOTER */
.privacyTerms {
	text-align: end;
}
/* END OF FOOTER */

#chatBox {
	border-radius: 100%;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	color: #555;
	padding: 10px;
	border: none;
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 9999;
}

@media (max-width: 1200px) {
	.marginTop {
		margin-top: 80px;
	}

	.flexCol {
		flex: 25%;
		max-width: 25%;
		padding: 0 10px;
	}

	nav img {
		height: 80px;
	}

	.searchBar {
		width: 300px;
	}

	.login {
		margin: 0 10px;
	}

	.cartMobile {
		display: none;
		visibility: hidden;
	}

	.cartDesktop {
		display: block;
		visibility: visible;
	}

	.userMobile {
		display: none;
		visibility: hidden;
	}

	.userDesktop {
		display: block;
		visibility: visible;
	}

	/* ABOUT US PAGE */
	.aboutOmidCol {
		flex: 50%;
		max-width: 50%;
		padding: 0 30px;
	}
	/* END OF ABOUT US PAGE */

	/* BLOG PAGE */
	.flexRow-blog {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.flexCol-blog {
		flex: 33.3%;
		max-width: 33.3%;
		padding: 12px;
	}
	/* END OF BLOG PAGE */

	/* DETAIL PRODUCT PAGE CSS */
	.detailProductCon {
		padding: 5% 0;
	}

	.detailProduct {
		margin-left: 30px;
	}
	/* END OF DETAIL PRODUCT PAGE CSS */

	/* CART PAGE */
	.cart-card-title {
		margin-top: 0;
	}

	.cart-subtotal {
		float: right;
	}
	/* END OF CART PAGE */

	/* FOOTER */
	.privacyTerms {
		text-align: end;
	}
	/* END OF FOOTER */
}

@media (max-width: 768px) {
	.marginTop {
		margin-top: 40px;
	}

	.flexCol {
		flex: 50%;
		max-width: 50%;
		padding: 0 10px;
	}

	nav img {
		height: 60px;
	}

	.searchBar {
		width: 100%;
	}

	.login {
		margin: 10px 0;
	}

	.signup {
		margin-bottom: 10px;
	}

	.cartMobile {
		display: block;
		visibility: visible;
	}

	.cartDesktop {
		display: none;
		visibility: hidden;
	}

	.userMobile {
		display: block;
		visibility: visible;
	}

	.userDesktop {
		display: none;
		visibility: hidden;
	}

	/* FLICKITY */
	.gallery-cell {
		width: 33.3%;
		margin-right: 15px;
	}
	/* END OF FLICKITY */

	/* ABOUT US PAGE */
	#blogIls {
		order: 1;
	}
	#blogDesc {
		order: 2;
	}
	.aboutOmidCol {
		flex: 100%;
		max-width: 100%;
		padding: 0 10px;
	}
	/* END OF ABOUT US PAGE */

	/* BLOG PAGE */
	.flexRow-blog {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.flexCol-blog {
		flex: 50%;
		max-width: 50%;
		padding: 12px;
	}
	/* END OF BLOG PAGE */

	/* DETAIL PRODUCT PAGE CSS */
	.detailProductCon {
		padding: 0;
	}

	.detailProduct {
		margin-left: 0;
	}
	/* END OF DETAIL PRODUCT PAGE CSS */

	/* CART PAGE */
	.cart-card-title {
		margin-top: 20px;
	}

	.qty {
		margin-bottom: 20px;
	}

	.cart-subtotal {
		float: none;
	}
	/* END OF CART PAGE */

	/* FOOTER */
	.privacyTerms {
		text-align: end;
	}
	/* END OF FOOTER */
}

@media (max-width: 576px) {
	.marginTop {
		margin-top: 20px;
	}

	.flexCol {
		flex: 100%;
		max-width: 100%;
		padding: 0 10px;
	}

	nav img {
		height: 50px;
	}

	.searchBar {
		width: 100%;
	}

	.login {
		margin: 10px 0;
	}

	.signup {
		margin-bottom: 10px;
	}

	.cartMobile {
		display: block;
		visibility: visible;
	}

	.cartDesktop {
		display: none;
		visibility: hidden;
	}

	.userMobile {
		display: block;
		visibility: visible;
	}

	.userDesktop {
		display: none;
		visibility: hidden;
	}

	/* HOME PAGE CSS */
	/* CAROUSEL BANNER */
	.crsFirst {
		background-repeat: no-repeat;
		background-image: url(../img/carousel/crs_1.jpg);
		background-size: cover;
		background-size: 100% 100%;
		background-position: center center;
		padding: 15% 0;
	}
	.crsSecond {
		background-repeat: no-repeat;
		background-image: url(../img/carousel/crs_2.jpg);
		background-size: cover;
		background-size: 100% 100%;
		background-position: center center;
		padding: 15% 0;
	}
	.crsThird {
		background-repeat: no-repeat;
		background-image: url(../img/carousel/crs_3.jpg);
		background-size: cover;
		background-size: 100% 100%;
		background-position: center center;
		padding: 15% 0;
	}
	/* END OFCAROUSEL BANNER */

	/* FLICKITY */
	.gallery-cell {
		width: 50%;
		margin-right: 15px;
	}
	/* END OF FLICKITY */

	/* ABOUT US PAGE */
	#blogIls {
		order: 1;
	}
	#blogDesc {
		order: 2;
	}
	#blogDesc a {
		width: 100%;
	}
	.aboutOmidCol {
		flex: 100%;
		max-width: 100%;
		padding: 0 10px;
	}

	.prodCatFlexCol {
		flex: 50%;
		max-width: 50%;
	}

	#signupAbout a {
		width: 100%;
	}
	/* END OF ABOUT US PAGE */

	/* BLOG PAGE */
	.flexRow-blog {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.flexCol-blog {
		flex: 100%;
		max-width: 100%;
		padding: 12px 0;
	}

	/* END OF BLOG PAGE */

	/* DETAIL PRODUCT PAGE CSS */
	.detailProductCon {
		padding: 0;
	}

	.detailProduct {
		margin-left: 0;
	}
	/* END OF DETAIL PRODUCT PAGE CSS */

	/* END HOME PAGE CSS */

	/* CART PAGE */
	.cart-card-title {
		margin-top: 20px;
	}

	.qty {
		margin-bottom: 20px;
	}

	.cart-subtotal {
		clear: both;
	}
	/* END OF CART PAGE */

	/* CONTACT */
	#contact {
		margin-top: -60px;
		margin-bottom: 36px;
	}

	#contact iframe {
		height: 450px;
	}
	/* END OF CONTACT */

	/* FOOTER */
	.privacyTerms {
		text-align: start;
	}
	/* END OF FOOTER */
}
